<div class="row animated fadeIn">
    <div class="post_wrapper" ng-init="get_children(obj.id)">
        <img class="thumbnail text-center post_thumb" src="{{obj.picture}}" alt="" style="height:10px; width:100%;"/>
        <a href="#/news/{{obj.id}}"><h1 class=" text-center">{{ obj.title.substr(0,25) }}<span ng-if="obj.title.length > 25">..</span></h1></a>
        <div class="callout">
            <div class="row" style="padding:0; height:15px">
                <p class="small-6 columns text-left" style="font-size:15px;"><a ng-click="blog_posts_likes_mod(obj.id, 1)"><i style="font-size:22px; margin-right:4px;" class="fi-like"></i></a>{{obj.likes}} Likes</p>
                <p class="small-6 columns text-right" style="font-size:15px;"><i class="fi-pencil" style="margin-right:4px; font-size:22px"></i>{{ getChildLength(obj.id, 'blog_comments').length }} Comments</p>
            </div>
        </div>
    </div>
</div>