<div class="blue-bg header animated fadeIn">
    <div class="row align-middle">
        <h1 class="column small-12 text-center title-text">UnoCMS<small>1.0</small></h1>
    </div>
</div>
<div class="row">
    <div class="columns animated bounceInLeft">
        <div class="text-center">
            <div class="greet-message">
            <i class="fi-pencil text-center icon"></i>
            </div>
            <p class="icon-text">Create</p>
        </div>
    </div>
    <div class="columns animated bounceIn">
        <div class="text-center">
            <div class="greet-message">
            <i class="fi-upload-cloud text-center icon"></i>
            </div>
            <p class="icon-text">Upload</p>
        </div>
    </div>
    <div class="columns animated bounceInRight">
        <div class="text-center">
            <div class="greet-message">
            <i class="fi-share text-center icon"></i>
            </div>
            <p class="icon-text">Share</p>
        </div>
    </div>
</div>