<div style="background:#2582fc;" class="header animated fadeIn">
    <div class="row align-middle">
        <h1 class="column small-12 text-center" style="color:#fff; font-size:77px;">UnoCMS<small>1.0</small></h1>
    </div>
</div>
<div class="row">
    <div class="columns animated bounceInLeft">
        <div class="text-center">
            <div class="greet-message">
            <i style="color:#2582fc;  padding:5px; font-size:135px;" class="fi-pencil text-center"></i>
            </div>
            <p style="color:#2582fc; font-size:30px; font-weight:bold; margin:0px;">Create</p>
        </div>
    </div>
    <div class="columns animated bounceIn">
        <div class="text-center">
            <div class="greet-message">
            <i style="color:#2582fc;  padding:5px; font-size:135px;" class="fi-upload-cloud text-center"></i>
            </div>
            <p style="color:#2582fc; font-size:30px; font-weight:bold; margin:0px;">Upload</p>
        </div>
    </div>
    <div class="columns animated bounceInRight">
        <div class="text-center">
            <div class="greet-message">
            <i style="color:#2582fc;  padding:5px; font-size:135px;" class="fi-share text-center"></i>
            </div>
            <p style="color:#2582fc; font-size:30px; font-weight:bold; margin:0px;">Share</p>
        </div>
    </div>
</div>