<form method="post">
    <input type="text" ng-model="user.email" placeholder="Email" />
    <input type="text" ng-model="user.display_name" placeholder="Display Name" />
    <input type="password" ng-model="user.password" placeholder="Password" />
    <input type="password" ng-model="user.conf_password" placeholder="Confirm Password" />
    <div class="row align-stretch">
        <div class="small-12 column">
            <div class="callout">
                <div class="hollow button" ngf-select="uploadPic($files)" ngf-multiple="true" ng-model="files" ngf-pattern="'image/*'" ngf-accept="'image/*'">Select a file</div>
                <img style="width:100px; height:100px;" src="{{preview}}" alt="" />
                <div ng-show="isUploading" class="progress animated fadeIn" role="progressbar" tabindex="0">
                    <span class="progress-meter" style="width: {{progress}}%"></span>
                </div>
                <input type="hidden" ng-model="preview" />
            </div>
        </div>
    </div>
    <input type="submit" class="button small radius" value="Sign Up!" ng-click="signup(user)"/>
</form>